.nav-margin {
	margin-left: 2%;
}

.awards-holder {
	margin-top: 35px;
}

.title-holder {
	padding-top: 15px;
}

.award-header {
	font-size: 3rem;
}

.alt-footer-color {
	background-color: #cbd2dc !important;
}

.project-header {
	font-size: 3rem !important;
}

.sub-description-holder {
	margin-top: -5px !important;
}

.award-background {
	background: #8a8a8a !important;
	color: white;
}

.award-holder{
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}

.project-holder {
	padding-top: 5px !important;
}

.big-header {
	font-size: 4rem;
}

.section-holder {
	padding-top: 27px !important;
	padding-bottom: 50px !important;
}

.no-border-view {
	//box-shadow: 0 0 0 0 !important;
	border: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.current-holder {
	margin-top: 10px;
}

.header-text {
	font-size: 4.25rem;
}

.header-holder {
	padding-top: 10px;
	padding-bottom: 19px;
}

.header-home-holder {
	margin-top: 8px !important;
	//height: 97vh;
}

.header-hello-large-text {
	margin-top: 75px !important;
	margin-bottom: 0px !important;
	font-size: 9rem;
	letter-spacing: 3px;
}

.header-name-large-text {
	margin-top: -10px !important;
	font-size: 5rem;
}

.header-description-text {
	font-size: 1.5rem;
	font-weight: 300;
	color: grey !important;
}

.header-list-text a {
	color: #424242 !important;
	font-size: 2rem !important;
}

a:hover { 
    color: grey !important;
}

@media only screen and (max-width: 500px) {
   .header-hello-large-text {
	margin-top: 75px !important;
	margin-bottom: 0px !important;
	font-size: 3.5rem;
	}

	.header-name-large-text {
		margin-top: -10px !important;
		font-size: 1.8rem;
	} 
}

.section-header {
	font-size: 4.3rem;
	margin-top: 40px !important;
	margin-bottom: 45px;
}

.temp-background {
	background: #ecf0f1 !important;
}

.bio-text {
	font-size: 2.15rem;
	font-weight: 400;
	text-align: justify;
}

@media only screen and (max-width: 500px) {
   .bio-text {
		font-size: 1.4rem;
	}
}

.contact-header {
	font-size: 3rem;
}

.lower-button {

	margin-top: 190px !important;

}

.no-center {
	text-align: left !important;
}

.no-bottom-padding-margin {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

.no-top-padding-margin {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

.footer-background {
	background: #ecf0f1 !important;
}

.footer-text {
	font-size: 1.2rem !important;
	color: black !important;
}

@media only screen and (max-width: 500px) {
   .no-padding-mobile {
		padding-left: 0px !important;
		padding-right: 0px !important;
}

@media only screen and (max-width: 500px) {
   .resume-text-padding {
		padding-left: 0px !important;
	    padding-right: 0px !important;
	}
}